<div class="footer-container">
    <div class="footer-social">
        <div class="footer-social-block">
            <img src="/assets/images/whatsapp.png" alt="image">
        </div>
        <div class="footer-social-block">
            <img src="/assets/images/x.png" alt="image">
        </div>
        <div class="footer-social-block">
            <img src="/assets/images/insta.png" alt="image">
        </div>
    </div>
    <div class="footer-copyright">
        &copy; 2024 EDISON CHOO
    </div>
</div>
