<div class="skill-container">
    <div class="first">
        <div class="skill-moving marquee one">
            <span class="skill">Python</span>
            <span class="skill">HTML</span>
            <span class="skill">Javascript</span>
            <span class="skill">C Sharp</span>
            <span class="skill">CSS</span>
            <span class="skill">SQL</span>
            <span class="skill">Kotlin</span>
            <span class="skill">Solidity</span>
            <span class="skill">Typescript</span>
        </div>
        <div class="skill-moving marquee two">
            <span class="skill">Python</span>
            <span class="skill">HTML</span>
            <span class="skill">Javascript</span>
            <span class="skill">C Sharp</span>
            <span class="skill">CSS</span>
            <span class="skill">SQL</span>
            <span class="skill">Kotlin</span>
            <span class="skill">Solidity</span>
            <span class="skill">Typescript</span>
        </div>
    </div>
    <div class="second">
        <div class="knowledge-moving marquee one">
            <span class="skill">Data Analytics</span>
            <span class="skill">UX Design</span>
            <span class="skill">Software Engineering</span>
            <span class="skill">Product Development</span>
            <span class="skill">Cloud Computing</span>
            <span class="skill">Mobile App</span>
            <span class="skill">UI Path</span>
        </div>
        <div class="knowledge-moving marquee two">
            <span class="skill">Data Analytics</span>
            <span class="skill">UX Design</span>
            <span class="skill">Software Engineering</span>
            <span class="skill">Product Development</span>
            <span class="skill">Cloud Computing</span>
            <span class="skill">Mobile App</span>
            <span class="skill">UI Path</span>
        </div>
    </div>
    
    
</div>
