<div class="contact-container">
    <div class="contact-circle"></div>
    <div class="contact-container-flex">
        <div class="contact-title">
            <div class="contact-text">
                CONTACT <br/> ME
            </div>
            <div class="contact-links">
                <div class="contact-social-block">
                    <img src="/assets/images/whatsapp.png" alt="image">
                </div>
                <div class="contact-social-block">
                    <img src="/assets/images/x.png" alt="image">
                </div>
                <div class="contact-social-block">
                    <img src="/assets/images/insta.png" alt="image">
                </div>
            </div>
        </div> 
        <div class="contact-form">
            <div class="contact-form-title">
                REQUEST FOR A JOB PROPOSAL
            </div>
            <div class="contact-form-group">
                <form>
                    <div class="name-form-group">
                        <div>
                            <input type="text" id="fname" name="fname" placeholder="FIRST NAME *" required>
                        </div>
                        <div class="space-between"></div>
                        <div>
                            <input type="text" id="lname" name="lname" placeholder="LAST NAME *" required>
                        </div>
                    </div>
                    <div class="details-form-group">
                        <div>
                            <input type="text" id="email" name="email" placeholder="EMAIL *" required>
                        </div>
                        <div class="space-between"></div>
                        <div>
                            <input type="text" id="phone" name="phone" placeholder="PHONE *" required>
                        </div>
                    </div>
                    <div class="details-form-group">
                        <div>
                            <textarea id="job" name="job" placeholder="JOB DETAILS *" required></textarea>
                        </div>
                    </div>
                    <button class="contact-btn">SUBMIT</button>
                </form>
            </div>
        </div> 
    </div>
    <div class="contact-circle-second"></div>
</div>
