
<div class="cert-container">
    
    @defer (on viewport;){
        <!-- <div class="cert-title"  data-aos="fade-up" data-aos-duration="3000">
            My Certifications
        </div> -->
        <div class="cert-title" id="test">
            My Certifications
        </div>
        } @placeholder {
            <div class="cert-title">
                My Certifications
            </div>
        }
    
    <div class="cert-body">
            <div class="cert-bar">
                <div class="cert-img">
                    <img src="/assets/images/splunk1.png" alt="image">
                </div>
                <div class="cert-bar-body">
                    <div class="cert-bar-title">
                        Splunk Core Certified Power User
                    </div>
                    <div class="cert-bar-text">
                        A Splunk core power user understands and effectively uses Splunk to search, analyze, visualize data, create reports, dashboards, alerts, and knowledge objects, perform data management, and troubleshoot.
                    </div>
                </div>
            </div>
        
        <div class="cert-bar">
            <div class="cert-img">
                <img src="/assets/images/HCIA.png" alt="image">
            </div>
            <div class="cert-bar-body">
                <div class="cert-bar-title">
                    HCIA-Cloud Service
                </div>
                <div class="cert-bar-text">
                    Huawei Certified ICT Associate-Cloud Service-Training and certificating engineers who are capable of building enterprise IT architectures using common cloud services such as computing, storage, and network services, and using and managing cloud services.
                </div>
            </div>
        </div>
        <div class="cert-bar">
            <div class="cert-img">
                <img src="/assets/images/microsoft.png" alt="image">
            </div>
            <div class="cert-bar-body">
                <div class="cert-bar-title">
                    Microsoft Certified: Azure Fundamentals
                </div>
                <div class="cert-bar-text">
                    Microsoft Azure Fundamentals is a six-part learning series that includes exam preparation and a certification exam. It focuses on providing a high-level overview of core Azure cloud platform components. The Azure suite contains over 200 products and services that range from AI and machine learning to web services
                </div>
            </div>
        </div>
        <div class="cert-bar">
            <div class="cert-img">
                <img src="/assets/images/aws.png" alt="image">
            </div>
            <div class="cert-bar-body">
                <div class="cert-bar-title">
                    Amazon Web Services Cloud Practitioner
                </div>
                <div class="cert-bar-text">
                    The AWS Certified Cloud Practitioner validates foundational, high-level understanding of AWS Cloud, services, and terminology.  This is a good starting point on the AWS Certification journey for individuals with no prior IT or cloud experience switching to a cloud career or for line-of-business employees looking for foundational cloud literacy.
                </div>
            </div>
        </div>
    </div>
    <!-- <script src=”https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->
</div>

