/* @font-face {
    font-family: 'Neuemontreal';
    src: url('/myPortfolio/src/assets/fonts/Neuemontreal\NeueMontreal-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Neuemontreal';
} */
