.advantage-container {
    padding: 160px 0;
}

.advantage-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 36px;
}

.advantage-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantage-pill {
    background-color: #353535;
    height: 240px;
    width: 386px;
    color: white;
    border-radius: 5px;
    margin: 24px;
    position: relative;
}

.advantage-text {
    font-size: 24px;
    /* margin: 16px; */
    position: absolute;
    bottom: 64px;
    left: 32px;
}